.center {
    margin: auto;
    width: 60%;
    text-align: center;
    padding: 10px;
    }
.card {
    margin: auto;
    
    text-align: center;
    padding: 10px; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
